.login-page {
  height: 100vh;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* DIFUMINADO ROJO */
.red-blur {
  position: absolute;
  width: 25rem;
  height: 25rem;
  background: red;
  filter: blur(150px);
  opacity: 0.35;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

/* CONTENEDOR */
.login-wrapper {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* CAJA LOGIN */
.login-box {
  background: white;
  width: 22rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
}

/* TÍTULO */
.login-box h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* LÍNEA */
.login-box hr {
  border: none;
  height: 1px;
  background: #ddd;
  margin-bottom: 1.5rem;
}

/* FORM */
.login-box form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* LABEL */
.login-box label {
  font-size: 0.9rem;
  font-weight: bold;
}

/* INPUT */
.login-box input {
  padding: 0.7rem;
  font-size: 0.95rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

/* TEXTO */
.forgot {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.forgot a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

/* BOTÓN */
.login-box button {
  margin-top: 1.5rem;
  padding: 0.7rem;
  background: red;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
