main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.control-button{
    margin: 10px;
    cursor: pointer;
}