/*  ESTILO GLOBAL  */
* {
    font-family: 'Trebuchet MS', fantasy;
    /*
    in order to make our text more responsive to size change of the viewport,
    we have to use a relative unit not absolute unit like px.
    In this case, we use the viewport as our unified reference.
    2vw is iqual to 2% of the width of the viewport
    */
    box-sizing: border-box;
}
html {
    background-color: #1b2f1b;
    color: #e4e4e4;
}
div{
    border: 5px;
    border-style: groove;
    border-color: aliceblue;
    padding: 10px;
    margin: 1vw;
    
}
h2{
    background-color:cadetblue;
    position: sticky;
    width: fit-content;
    position: sticky;
    /*The following four the parameters are used to control the position of this element 
    with respect to the viewport*/
    /* The top position of the top border of this element relative to the viewport*/
    top: 20px;
    left: auto;
    right: auto;
    bottom: auto;
}
